.appear {
    visibility: hidden;
}

.appear-spacer {
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
}

.appear-container {
    position: relative;
    top: 0;
    left: 0;
}

.appear-animator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    transition: margin-top 800ms, opacity 400ms;
    opacity: 0;
    margin-top: 2rem;
    &.is-active {
        opacity: 1;
        margin-top: 0;
    }

    .appear {
        visibility: visible;
    }
}