.background-image {
    background-size: cover;
    background-position: center;
}

.is-clipped-left {
    -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 12% 56%);
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 12% 56%);
}

.is-clipped-right {
    -webkit-clip-path: polygon(0px 0px, 88% 0px, 88% 56%, 100% 100%, 0px 100%);
    clip-path: polygon(0px 0px, 88% 0px, 88% 56%, 100% 100%, 0px 100%);
}