<div class="splash-body is-clipped-right avoid-navbar splash-360">

    <div class="gradient-overlay"></div>

    <div id="first360" class="script-wrapper" style="visibility: hidden">
        {{ script.content }}
    </div>

    <div class="content">
        <div class="columns is-mobile">
            <div class="column is-7-mobile is-6-tablet is-6-desktop is-5-widescreen is-4-fullhd">
                <p class="aankondiging">{{ text }}</p>
            </div>
        </div>
    </div>

    <div class="scroll-down is-hidden-mobile">
        <span class="button-scroll-down">{{ scroll_caption }}</span>
        <div class="vertical-line"></div>
    </div>

    <div class="button-fullscreen is-hidden-mobile" data-kuula="https://kuula.co/share/7PYjb?fs=0&vr=0&thumbs=1&hideinst=1&chromeless=1&logo=-1" data-target="first360">
        <img src="./assets/images/button-fullscreen.svg" alt="">
    </div>

</div>