<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        {% block head %}{% endblock %}
    </head>

    <body class="{% for class in body_classes %}{{ ' ' ~ class }}{% endfor %}" data-template="base.twig">

        {% include './components/navbar.twig' with {
            'logo_url' : './assets/images/logo.svg',
            'menu' : [
                {
                    'title': 'woningen',
                    'link': 'appartments.html',
                    'class': ''
                }, {
                    'title': 'over bunkertoren',
                    'link': 'about.html',
                    'class': ''
                }, {
                    'title': 'contact',
                    'class': ''
                }, {
                    'title': 'Inschrijven',
                    'class': 'button nav-inschrijven'
                }
            ]
        } %}

        {% block body %}{% endblock %}

        {% include './components/footer.twig' with {
            'logo_url' : './assets/images/logo.svg',
            'contact' : {
                'mail': 'info@bunkertoren.nl',
                'phone': '+ 40 26 79 63 541'
            }

        } %}

    </body>

</html>