{% extends './base.twig' %}
{% block body %}
    <section class="section" style="height: 200vh">
        <div class="container">
                {{ title }}
        </div>
    </section>    
{% endblock %}