<section class="section polygon-box fit-height {{ background_color }}">
    <div class="container is-fluid">
        <div class="polygon-wrapper">
            <div class="polygon-content align-clipping-left">
                {% block content %}{% endblock %}
            </div>

            <div class="polygon-top">
                <div class="fill"></div>
            </div>
            <div class="polygon-bottom">
                <div class="fill"></div>
            </div>
        </div>
    </div>
</section>