<section class="section portrait-splash">
    <img class="large-portrait-image" src="{{ large_portrait_image }}">
    <div class="container is-fluid">
        <div class="float-trigger" data-trigger-from></div>
        <div class="floating-message">
            <h2>{{ floating_message }}</h2>
            <a href="#" class="button">geschiedenis</a>
        </div>
        <div class="float-trigger" data-trigger-to></div>
    </div>
</section>