<section class="section splash is-fullheight light-grayish-red">
    <div class="container is-fluid">
        <div class="splash-body background-image clipped-right" style="background-image:url( {{ image }} )">
            <div class="content">
                <p>Verkoop begint in oktober jonge</p>
                <div class="button button-agenda">zet in agenda</div>
            </div>
            <div class="button-lees-meer">lees meer
                <br>
                <svg width="2px" height="62px" viewbox="0 0 2 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                        <g id="Home" transform="translate(-721.000000, -839.000000)" stroke="#FFFFFF">
                            <g id="Component">
                                <g id="scroll" transform="translate(685.000000, 815.000000)">
                                    <path d="M37,85 L37,25" id="line"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>