<section class="section splash is-fullheight light-grayish-red">
    <div class="container is-fluid">
        <div class="content splash-body background-image is-clipped-right" style="background-image:url( {{ image }} )">
            <div class="content">
                <div class="columns is-mobile">
                    <div class="column is-7-mobile is-6-tablet is-6-desktop is-5-widescreen is-4-fullhd">
                        <h1 class="aankondiging">De appartementen gaan vanaf 1 oktober in de verkoop</h1>
                        <div class="button button-agenda">zet in agenda</div>
                    </div>
                </div>
            </div>
            <div class="button-lees-meer is-hidden-mobile">
                <span>lees meer</span>
                <div class="vertical-line"></div>
            </div>
        </div>
    </div>
</section>