<section class="section text fit-height">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-6-tablet is-7-desktop">
                <h1>{{ subtitel }}</h1>
            </div>
            <div class="column is-6-tablet is-5-desktop">
                <p>{{ text }}</p>
            </div>
        </div>
    </div>
</section>