<div class="footer-placeholder"></div>

<footer id="footer" class="footer">
    <div class="container is-fluid">
        <div class="columns is-mobile is-multiline">
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <img class="logo" src="{{ logo_url }}">
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <p>
                        Voor meer vragen<br>
                        en informatie
                    </p>
                    <p>
                        info@bunketoren.nl<br>
                        + 40 26 79 63 54
                    </p>
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <p>
                        Voor het laatste<br>
                        nieuws en updates
                    </p>

                    <p>
                        Facebook Instagram
                    </p>
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <p>
                        Direct informatie<br>
                        over beschikbaarheid?
                    </p>
                    <p>
                        <a href="#" class="button">inschrijven</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>