.section.appartments-list {
    .list-header {
        &::before {
            content: '';
        }
    }
    .table {
        width: 100%;
        font-family: 'Chap-Light';
        font-size: 18px;
        letter-spacing: -0.02em;
        line-height: 1.825em;
        color: #000000;
        tr:hover {
            color: $red;
            a {
                color: $red;
            }
        }
        a {
            font-size: 1em;
            border-bottom: 0;
        }
        td {
            border: 0;
        }
        tr:first-child {
            border-top: 1px solid black;
        }
        tr {
            border-bottom: 1px solid black;
        }

        tr.is-locked {
            color: $gray;

            &:hover {
                color: $gray; 
            }
        }
    }
}

@media (max-width: 640px) {
    .section.appartments-list {
        .table {
            font-size: 12px;
        }

        .is-hidden-small-mobile {
            display: none !important;
        }
    }
}

@media (min-width: 769px) {
    .section.appartments-list {
        .table {
            font-size: 18px;
            a.small, span.small {
                font-size: 0.625em;
            }
        }
    }
}

@media (min-width: 1024px) {
    .section.appartments-list {
        .table {
            font-size: 24px;
        }
    }
}

@media (min-width: 1216px) {
    .section.appartments-list {
        .table {
            font-size: 28px;
        }
    }
}