.floating-message p {
    max-width: 400px;
    margin-bottom: 2rem;
    color: white;
}

.floating-message h1 {
    font-family: 'SMMaxeville-Constructed';
    font-size: 52px;
    color: white;
    letter-spacing: -0.01em;
    line-height: 0.84em;
    text-transform: uppercase;
}

.floating-message h2 {
    color: white;
}

@media (min-width: 769px) {
    .floating-message h1 {
        font-size: 87px;
    }
}