$red: #E7413A;
$ebb: #EAE2E1;
$green: #D3E8D5;
$black: #000000;
$gold: #DEC6A1;
$light_gold: #F5E1C2;
$gray: #D3CAC7;
.red,
[data-background-color="red"] {
    background-color: $red;
}

.light-red,
[data-background-color="light-red"] {
    background-color: $ebb;
}

.light-green,
[data-background-color="light-green"] {
    background-color: $green;
}

.gold,
[data-background-color="gold"] {
    background-color: $gold;
}

.light-gold,
[data-background-color="light-gold"] {
    background-color: $light_gold;
}

.gray,
[data-background-color="gray"] {
    background-color: $gray;
}

.white,
[data-background-color="white"] {
    background-color: $white;
}

.fill {
    &-red path {
        fill: $red;
        stroke: $red;
    }
    &-light-red path {
        fill: $ebb;
        stroke: $ebb;
    }
    &-light-green path {
        fill: $green;
        stroke: $green;
    }
    &-gold path {
        fill: $gold;
        stroke: $gold;
    }
    &-light-gold path {
        fill: $light_gold;
        stroke: $light_gold;
    }
    &-gray path {
        fill: $gray;
        stroke: $gray;
    }
    &-white path {
        fill: $white;
        stroke: $white;
    }
}